/* Categorias styles */
.categoria-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:column;
  height: 100%;
  padding-top: 1.5em;
}
.background {
  background-color: black
}
.categoria-titulo-imagem {
  width: 50%;
  height: 50%;
}

.categoria-titulo-texto {
  display: flex;
  justify-content: center;
}

.categoria-texto{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.projetos-menu {
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.projetos-menu-item {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%
}

.projetos-menu-item-image {
  width: 10rem;
  height: 12rem;
}

.projetos-menu-item-caixa {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  width: 15rem;
  height: 15rem;
}

.projetos-menu-titulo-texto {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.projetos-menu-item-text {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}