/* Index styles */
.logo{
}
.content {
	display: grid;
	background-color: #F2F2F2;
	grid-template-columns: 1fr 80% 1fr;
	grid-template-rows: fit-content fit-content;
	grid-gap: 1em;
	min-height: 100vh;
	padding-bottom: 3em;
}

.title_items {
	display: flex;
	grid-column: 2;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* width: 80vw; */

}
.title {
	font-size: 3rem;
	text-align: center;
}
.title_image {
	width: 100%;
	max-width: 720px;
	margin: 0.5em;
	border-radius: 0.25em; 
}

.go_to_pages {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 80%; 
	padding-left: 10%;
	padding-right: 10%;
}

.corpo {
	border: hidden;
	border-radius: 1em;
	padding: 1em;
	padding-left: 0px;
	font-size: 1.5rem;
	flex-basis: 45%;
	text-align: justify;
	text-align-last: justify;
}

.go_to_pages ul {
	display: grid;
	flex-basis: 45%;
	grid-auto-flow: column;
	column-gap: 1em;
}

.button {
	background-color: #04ADBF;
	font-family: 'Roboto Condensed';
	color: white;
	text-decoration: none;
	text-align: center;
	flex-basis: 40%;
	min-height: 2.5em;
	justify-content: center;
	align-items: center;
	display: flex;
	border: hidden 0.25em;
	border-radius: 0.1em;
	padding-left: 0.5em;	
	padding-right: 0.5em;	
}

@media screen and (max-width: 640px) {

	.title_items {
		display: flex;
		flex-direction: column;
		justify-content: left
	}
	.title {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
		font-size: 2em;
	}
	.title_image{
		margin: 0px;
		width: 100%;
	}
	.content {
		min-height: 100vh;
		padding-bottom: 3em;
	}

	.corpo {
		flex-basis: 100%;
		padding-right: 0px;
	}

	.go_to_pages{
		width: 100%;
		padding: 0px
	}
	.go_to_pages ul {
		flex-basis: 100%;
	}
	.go_to_pages ul li a {
	}
}