/* Index styles */
html {
	background-color: black;
}

body .content {
	display: grid;
	background-color: black;
	grid-template-columns: 1fr minmax(360px,720px) 1fr;
	grid-template-rows: 2fr 1fr;
	grid-gap: 1em
}


.title_items {
	display: flex;
	grid-column: 2;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.title {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(30, 255, 0);
	font-size: 1.5rem;
	margin: 0.5em;
}
.title_image {
	width: 100%;
	max-width: 720px;
	
}

.go_to_pages {
	grid-column: 2;
	grid-row: 2;
	display: grid; 
}

.go_to_pages p {
	color:rgb(30, 255, 0);
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
}

.go_to_pages ul {
	display: flex;
	width: 1fr;
	justify-content: space-around;
	justify-self: right;
}

.go_to_pages ul li{
	display: flex;
	align-items:center;
	
}
/* preciso deixar a fonte com tamanho relativo à tela */
/* não consigo deixar os botões alinhados com o texto da forma representada
na pagina para desktop */
.go_to_pages ul li a {
	margin: 1em;
	border: solid 1em;
	border-radius: 1em;
	border-color: blueviolet;
	background-color: blueviolet;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	text-align: center;
}
