/* Index styles */
.content {
	display: grid;
	background-color: #F2F2F2;
	grid-template-columns: 1fr minmax(360px,720px) 1fr;
	grid-template-rows: 2fr 1fr;
	grid-gap: 1em;
}


.title_items {
	display: flex;
	grid-column: 2;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.title {
	font-size: 3rem;
	text-align: center;
}
.title_image {
	width: 100%;
	max-width: 720px;
	margin: 0.5em;
	border-radius: 0.25em; 
}

.go_to_pages {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center
}

.corpo {
	border: hidden;
	border-radius: 1em;
	padding: 1em;
	font-size: 1.5rem;
	flex-basis: 50%;
	align-items: flex-start;
}

.go_to_pages ul {
	display: flex;
	flex-flow: row;
	flex-basis: 40%;
	align-items: center;
	justify-content: space-between
}

@media (max-width: 68rem) {

	.title_items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	.content {
		display: flex;
		flex-wrap: wrap;

	}

	.corpo {
		font-size: 3rem;
		align-items: center;
		margin: 0rem;
	}
	.go_to_pages {
		justify-content: space-evenly;
		text-align: justify;
	}
}