.container_project{
	display: grid;
	grid-template-columns: 50% 1fr;
	grid-gap: 1rem;
	justify-content: space-evenly;
	grid-auto-flow: row;
	align-items: flex-start;
	flex-direction:row;
	font-size: 1.5rem;
	text-align: center;
	min-width: 50rem;
}

.item_imagem{
	width: fit-content;
	background-color: aqua;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
}

.image_project{
	width: 80%;
}

.item_equipe{
	background-color: red;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 1;
}

.item_titulo{
	background-color: purple;	
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 1;
}

.item_title_project{
	background-color:orangered;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
}
.item_descricao{
	background-color: blue;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 2;
	align-items: flex-end;
}

.item_local{
	background-color: yellow;
	padding: 1rem;
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 2;}

	.item_recursos{
		background-color: green;
		padding: 1rem;
		margin: 1rem;
		flex-grow: 1;
		flex-shrink: 1;
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 2;
		grid-column-end: 2;
	}

	p{
		font-size: 1.5rem;
	}

	h1{
		font-size: 4rem;
	}

	h2{
		font-size: 2rem;
	}