/* navbar styles */

.navbar {
	background-color: red;
	display: flex;
	min-height: 80px;
	padding:0 3em;
	justify-content: space-between;
	align-items: center
}

.logo {
	border: hidden;
	border-radius: 0.3em 0.7em
}

.navbar_items {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem
}

.navbar_links a {
	font-size: 1.3rem;
	text-decoration: none;
	padding: 0.5em;
	border:hidden;
	border-radius: 0.3em 0.7em;
	color: white;
	background-color: blueviolet;
}