/* Index styles */
.index_corpo {
    padding-bottom: 250px;
    height: 1000px
}

.navbar .navbar_links, .navbar_items, .logo{
    display: inline;
}

.navbar {
    position: relative;
    background-color: red;
    padding: 25px 25%
}


.navbar_items {
    display: inline;
    margin-left: 100px;
    margin-right: 10px;
    right: 0px
}

.navbar_links a {
    background-color: blueviolet;
    color: white;
    margin: 10px 10px;
    float: right;
}

.content {
    position: relative;
    justify-content: baseline;
    top: 250px; 
    margin: 0px 25%;
    width: 50%
}


.title_items {
    text-align: center;
}
.title {
    text-align: center;
}
.title_image {
    width: 80%;
    margin: 50px 0px;
    align-self: center;
}

.go_to_pages ul, .go_to_pages p {
    display: inline-block
}
.go_to_pages p {
    width: 50%;
}
.go_to_pages ul {
    float: right;
    justify-content: center;
}
.go_to_pages ul li{
    display: inline;
    margin: 10px;
    align-content: center
}

/* Categorias styles */

/* Projeto styles */

/*.corpo_projeto{
	margin-top: 200px;
  	margin-bottom: 100px;
  	margin-right: 25px;
 	margin-left: 25px;
	position: absolute;
}*/

.coluna_esquerda{
	position: absolute;
	top: 200px;
	left: 25px;
	width:610px;
}

.imagem_girafa{
	height: 600px;
	margin: 25px;
	position: relative;
}

.secao_projeto{
	font-size: 40px;
	margin:25px;
	position: relative;

}

.texto_projeto{
	font-size: 20px;
	margin:25px;
	position: relative;
}

.coluna_direita{
	position: absolute;
	top: 200px;
	left: 640px;
	width:610px;
}

.projeto_titulo{
	color: black;
	margin:25px;
	padding-bottom: 150px;
	position: relative;
	font-size: 80px;
	position: relative;
}

.descricao_projeto{	
	font-size: 40px;
	margin:25px;
	position: relative;
}

.descricao_texto_projeto{
	font-size: 20px;
	margin:25px;
	position: relative;
	padding-bottom: 20px;

}